def report_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

process
{
    executor = 'awsbatch'
    queue = 'default-gwfcore'
    errorStrategy = { sleep(Math.pow(2, 1) * 200 as long); return 'retry' }
    maxRetries = 5
    
}
executor
{
    queueSize = 20
    submitRateLimit = '2min'
}


params
{
    reference_fasta = 's3://juniper-pipeline-resources/gatk_resources/v0/Homo_sapiens_assembly38.fasta'
    reference_index =  's3://juniper-pipeline-resources/gatk_resources/v0/Homo_sapiens_assembly38.fasta.fai'
    dict = 's3://juniper-pipeline-resources/gatk_resources/v0/Homo_sapiens_assembly38.dict'
    calling_intervals = 's3://juniper-pipeline-resources/gatk_resources/v0/wgs_calling_regions.hg38.interval_list'
    benchmark_vcf = 's3://juniper-pipeline-resources/Benchmarking_Resources/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf.gz'
    benchmark_bed = 's3://juniper-pipeline-resources/Benchmarking_Resources/HG001_GRCh38_1_22_v4.2.1_benchmark.bed'
    DeepVariant_DV_model = 's3://juniper-pipeline-resources/DeepVariant/weights-328-0.978956.ckpt.data-00000-of-00001'
    DeepVariant_DV_model_index ='s3://juniper-pipeline-resources/DeepVariant/weights-328-0.978956.ckpt.index'
    DeepVariant_DT_model = 's3://juniper-pipeline-resources/DeepVariant/dt_retrained_sc_juniper.ckpt.data-00000-of-00001'
    DeepVariant_DT_model_index ='s3://juniper-pipeline-resources/DeepVariant/dt_retrained_sc_juniper.ckpt.index'
    outdir='s3://juniper-nextflow-results-bucket/juniper-clinical/juniper-SNV'
    sites='s3://juniper-pipeline-resources/juniper-SNV/sites.hg38.vcf.gz'
}

report{
    enabled = 'true'
    file = "${params.outdir}/workflow_reports/report-${params.batch_name}_${report_timestamp}.html"
}